body {
    margin: 0;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
}

#outer-cont {
    border: 2px solid black;
    height: 80vh;
    width: 60vh;
    border-radius: 3%;
    background-color: darkgrey;
}

#screen {
    border: 1px solid black;
    height: 15%;
    width: 90%;
    margin-top: 5%;
    margin-left: 4.5%;
    margin-bottom: 2%;
    background-color: #8f9da6;
}

.buttons {
    border: 1px solid black;
    height: 12%;
    width: 20%;
    margin: 2%;
    font-size: large;
    border-radius: 20%;
}