body {
    margin: 0;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: linear-gradient(skyblue,lightyellow, lightgreen);
      font-family: 'Roboto', sans-serif;
}

#outer-cont {
    border: 2px solid black;
    height: 85vh;
    width: 60vh;
    border-radius: 3%;
    background-color: darkgrey;
}

#screen {
    border: 1px solid black;
    height: 15%;
    width: 90%;
    margin-top: 5%;
    margin-left: 4.5%;
    margin-bottom: 2%;
    background-color: #8f9da6;
    font-size: 80px;
    text-align: right;
}

.buttons {
    border: 1px solid black;
    height: 13%;
    width: 19%;
    margin: 2%;
    font-size: x-large;
    border-radius: 20%;
    /* display: inline-block;*/
    margin-left: 12px; 
}
